@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
}


/* styles.css */
.large-checkbox {
    width: 25px;
    height: 25px;
}

.button-press {
  transition: transform 0.1s ease-in-out;
}

.button-press:active {
  transform: scale(0.95);
}

.min-width-content {
  width: min-content;
}

.max-width-content {
  width: max-content;
}

.bordered-table th, .bordered-table td {
  border: 1px solid black;
  padding: 10px;
}

.bordered-table {
  border-collapse: collapse;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  flex-direction: column;
}

.min-h-55vh {
  min-height: 55vh;
}


.default-purple-button {
  @apply button-press rounded-2xl font-semibold p-3 text-lg bg-fuchsia-600 text-white shadow-xl
  hover:bg-fuchsia-700
}

.default-red-button {
  @apply button-press rounded-2xl font-semibold p-3 text-lg bg-red-600 text-white shadow-xl
  hover:bg-red-700
}

.default-text-input {
  @apply border-2 rounded-md py-1
}

.vacancies-block{
  @apply rounded-xl m-4 p-3
}

.vacancy-container{
  @apply flex  
}


.blue-container{
  @apply m-2 bg-blue-100 p-2 rounded-xl
}

.gray-container{
  @apply m-2 bg-gray-100 p-2 rounded-xl
}

.text-area{
  @apply w-full border-2 rounded-md py-1 m-2
}

.medium-text-area{
  @apply text-area h-24
}

.large-text-area{
  @apply text-area h-48
}

.purple-large-text {
  @apply font-semibold text-purple-500 text-xl text-center
}

.middle-button {
  @apply button-press p-1 text-lg rounded-md
}